body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.4); /* Black background */
    color: white; /* Default text color */
}

header {
    background-color: #003366CC; /* Dark blue */
    color: white;
    padding: 20px;
    padding-top: 130px;
    text-align: center; /* Center text */
}

h1 {
    margin: 0; /* Remove default margin */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%; /* Full width */
    max-width: 800px;
    margin: 0 auto; /* Center the main content */
}

.analysis-section {
    background-color: #2228; /* Dark background for sections */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.analysis-output p, .alternatives p {
    margin: 10px 0; /* Space between paragraphs */
}

#item-select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #003366; /* Dark blue for dropdown */
    color: white; /* White text */
}

.address-inputs input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 10px 0; /* Space between inputs */
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #222; /* Dark background */
    color: white; /* White text */
}

footer {
    background-color: #003366; /* Dark blue */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.alternatives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.altnav {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.altnav button {
    font-size: 2.25em;
    background: none;
    border: none;
    color: #c1fffc;
}
.altnav button:hover { 
    cursor: pointer;
    transition-duration: 0.3s;
    color: #509d99;
}
.alternatives > .items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    width: 80%;
}

.alternatives > .items > * {
    background: #53bb8777;
    border: 4px solid rgba(67, 255, 120, 0.33);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    margin: 5px 20px;
    height: auto;
}

.altelem {
    border-radius: 12px;
    border: none;
    width: 100%;
}
.map {
    width: 100%;
    height: 270px;
    border-radius: 12px;
}
.alteleminner {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 90px;
}
.alteleminner > h3 {
    width: 25%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
}
.alteleminner > p {
    width: 45%;
    text-align: left;
    margin: auto 0;
}
.alteleminner > button {
    width: 20%;
    border-radius: 8px;
}

.check-out-button {
    background-color: #4caf50AA; /* Money green */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
    width: 180px;
}

.check-out-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
