body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Black background */
    color: white; /* Default text color */
}

header {
    background-color: #003366; /* Dark blue */
    color: white;
    padding: 20px;
    text-align: center; /* Center text */
}

h1 {
    margin: 0; /* Remove default margin */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%; /* Full width */
    max-width: 800px;
    margin: 0 auto; /* Center the main content */
}

.analysis-section {
    background-color: #222; /* Dark background for sections */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.analysis-output p, .alternatives p {
    margin: 10px 0; /* Space between paragraphs */
}

#item-select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #003366; /* Dark blue for dropdown */
    color: white; /* White text */
}

.address-inputs input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 10px 0; /* Space between inputs */
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #222; /* Dark background */
    color: white; /* White text */
}

footer {
    background-color: #003366; /* Dark blue */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.alternatives {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.altnav {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.altnav button {
    font-size: 2.25em;
    background: none;
    border: none;
    color: #c1fffc;
}
.altnav button:hover { 
    cursor: pointer;
    transition-duration: 0.3s;
    color: #509d99;
}
.alternatives > .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Maintain responsive sizing */
    max-width: 600px; /* Adjust to limit the grid to two items per row */
    gap: 20px; /* Space between items */
    justify-content: center;
    padding: 20px;
    width: 100%; /* Ensures full width usage */
    margin: 0 auto; /* Centers the grid container */
}

.alternatives > .items > * {
    background: #438865;
    border: 2px solid #222;
    border-radius: 8px;
    text-align: center;
}

.altelem {
    border-radius: 12px;
    border: none;
    width: 100%;
    height: 250px;
}
.map {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.alteleminner {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.alteleminner > button {
    border-radius: 8px;
}